.card{
    min-height: 1000px;
    padding: 10px;
    background: rgb(197, 222, 243);
}

#list{
    margin-top: 60px;
}

span{
    color: black ;
    font-size: 15px;
}

li{
    margin: 15px;
    border: 1px solid black;
    padding: 10px;
    list-style: none;
}

label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input::placeholder{
    color: black;
    opacity: 1;
}